<div class="row">
    <div class="col-lg-12">
      <div class="d-xl-flex">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <span>
                  <i class="mdi mdi-account-group"></i>
                  <h4 class="card-title mb-2">{{"Brands" | translate}}</h4>
                </span>
                <div class="col-lg-12">
                  <div class="button-items">
                    <div #headerActions>
                      <button type="button" class="btn btn-success" accessKey="add" (click)="addBrand()">
                        <i class=" fa fa-plus"></i> {{'add' | translate}}
                      </button>
                      <button type="button" class="btn btn-info" accessKey="edit" [disabled]="this.brandId===0" (click)="this.popBrand=true">
                        <i class=" fa fa-edit"></i> {{'edit' | translate}}
                      </button>
                      <button type="button" class="btn btn-danger" accessKey="delete" [disabled]="this.brandId===0" (click)="deleteBrand()">
                        <i class=" fa fa-trash"></i> {{'delete' | translate}}
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <form class="form">
                      <div class="card-body">
                        <dx-data-grid #gridBranches id="gridBranches" [dataSource]="brands" keyExpr="id" [showBorders]="true"
                        [showRowLines]="true" [rtlEnabled]="this.baseService.isRTL" [allowColumnReordering]="true"
                        [allowColumnResizing]="true" [columnAutoWidth]="true" [columnHidingEnabled]="true"
                         [height]="height"
                        (onSelectionChanged)="onSelectionChanged($event)" (onInitialized)="onInitialized($event)">
                        <dxo-search-panel [visible]="true" ></dxo-search-panel>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-pager [allowedPageSizes]="[10, 20, 50, 100]" [showInfo]="true" [showNavigationButtons]="true"
                          [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>
                        <dxo-group-panel [visible]="true" ></dxo-group-panel>
                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-export [enabled]="true" fileName="Data" [allowExportSelectedData]="false"></dxo-export>
                        <dxi-column [dataField]="this.baseService.isRTL?'nameAr':'nameAr'" alignment="center" caption="{{'name' | translate}}"></dxi-column>
                        <dxi-column dataField="categoryId"  caption="{{'item.Category' | translate}}"  alignment="center">
                          <dxo-lookup [dataSource]="categories" [class]="this.baseService.isRTL? 'text right':'text left'" [displayExpr]="this.baseService.isRTL? 'nameAr':'nameEn'" valueExpr="id">
                          </dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="description" alignment="center" caption="{{'description' | translate}}" ></dxi-column>
        
                        <dxo-editing>
                          <dxo-texts confirmDeleteMessage="{{'confirmDeleteMessage' | translate}}"
                            confirmDeleteTitle="{{'confirmDeleteTitle' | translate}}">
                          </dxo-texts>
                        </dxo-editing>
                      </dx-data-grid>
                      </div>
                    </form>
                  </div>
                  <dx-popup [rtlEnabled]="this.baseService.isRTL" [visible]="popBrand" [maxWidth]="'65.5%'"
                    [maxHeight]="'60%'" [showTitle]="true"  title="{{'Category.Category' | translate}}" [dragEnabled]="false" >
                    <dx-scroll-view>
                        <div [style]="this.baseService.isRTL? 'text-align: right;':'text-align: left;'">
                          <form class="form" #editForm="ngForm" id="editForm" class="needs-validation" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="label mb-3">{{'Category.mainCate' | translate}}</label>
                                    <div class="form-value">
                                        <dx-select-box id="categoryId" name="categoryId" [dataSource]="categories"
                                        class="borderStyle" [searchEnabled]="true"
                                        [rtlEnabled]="this.baseService.isRTL"
                                        [displayExpr]="this.baseService.isRTL ? 'nameAr':'nameEn'"
                                        valueExpr="id" [(ngModel)]="brand.categoryId" ngModel 
                                        #categoryId="ngModel" [searchEnabled]="true" >
                                    </dx-select-box>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                              
                              <div class="col-md-6">
                                <label class="label mb-3">{{'nameAr' | translate}}</label>
                                <div class="form-value">
                                  <dx-text-box placeholder="{{'nameAr' | translate}}" id="txtnameAr" name="nameAr" ngModel ArabicChar
                                    required #txtnameAr="ngModel" [(ngModel)]="brand.nameAr"></dx-text-box>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <label class="label mb-3">{{'nameEn' | translate}}</label>
                                <div class="form-value">
                                  <dx-text-box placeholder="{{'nameEn' | translate}}" id="txtnameEn" name="nameEn" ngModel EnglishChar
                                    required #txtnameEn="ngModel" [(ngModel)]="brand.nameEn"></dx-text-box>
                                </div>
                              </div>
                            </div>
                            
                            <div class="row">
                              <div class="col-md-12 mt-3">
                                <label class="label mb-3">{{'description'|translate}}</label>
                                <dx-text-area #discription="ngModel"
                                [height]="60" [(ngModel)]="brand.description" name="description" [autoResizeEnabled]="true">
                                 </dx-text-area>
                              </div>
                            </div>
                          </form>
                          <div class="form-actions mt-5">
                            <div class="button-items">
                              <button type="submit" form="editForm" class="btn btn-success" [disabled]="!(editForm.valid && editForm.dirty)" (click)="saveBrand()"><i class="fa fa-save mr-3 ml-3"></i>{{'save'|translate}}</button>
                              <button  class="btn btn-danger"(click)="this.popBrand=false"><i class="ft-x"></i>{{'back'
                                | translate}}</button>
                            </div>
        
                          </div>
                        </div>
                      </dx-scroll-view>
                    </dx-popup>
                </div>
              </div>
            </div>
          </div>