<div class="account-pages my-5 pt-sm-5 auth-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="text-center mb-5">
                    <a routerLink="/" class="auth-logo">
                        <img src="" alt="" height="28" class="auth-logo-dark">
                        <img src="" alt="" height="28" class="auth-logo-light">
                    </a>
                </div>
                <div class="card overflow-hidden">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="p-lg-5 p-4">

                                <div>
                                    <h5>{{'welcomeBack'|translate}}</h5>
                                    <p class="text-muted"></p>
                                </div>

                                <div class="mt-4 pt-3" *ngIf="this.forgetPsw==false">
                                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                                        <div class="mb-3">
                                            <label for="email" class="fw-semibold">{{'security.email'|translate}}</label>
                                            <input type="text" formControlName="email" class="form-control" id="email" required
                                            [(ngModel)]="user.username" placeholder="{{'security.userName' | translate}}">
                                        </div>

                                        <div class="mb-3 mb-4">
                                            <label for="userpassword" class="fw-semibold">{{'security.password'| translate}}</label>
                                            <input type="password" formControlName="password" class="form-control" required
                                            [(ngModel)]="user.password"  id="userpassword" placeholder="{{'security.password'|translate}}">
                                        </div>

                                        <div class="row align-items-center">
                                            <!-- <div class="col-6">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input font-size-16"
                                                        id="remember-check">
                                                    <label class="form-check-label" for="remember-check">تذكرني</label>
                                                </div>
                                            </div> -->
                                            <div class="col-6">
                                                <div class="text-end">
                                                    <button class="btn btn-primary w-md waves-effect waves-light"
                                                        type="submit">{{'security.login'|translate}}</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-4">
                                            <a (click)="showForget()" class="text-muted" style="cursor: pointer;"><i
                                                    class="mdi mdi-lock me-1" ></i> {{'areYouForgetPass'|translate}}</a>
                                        </div>
                                    </form>
                                </div>


                                <div class="mt-4 pt-3" *ngIf="this.forgetPsw==true">
                                    <form #forgForm="ngForm" id="forgForm" class="needs-validation" novalidate>

                                        <div class="mb-3" *ngIf="typeCode==false">
                                            <label for="email" class="fw-semibold">{{'security.email' | translate}}</label>
                                            <input type="text" name="email" class="form-control" id="email" email required
                                            [(ngModel)]="user.email" placeholder="{{'security.email' | translate}}">
                                        </div>
                                        <div class="mb-3" *ngIf="typeCode==true&&codeDone==false">
                                            <label for="email" class="fw-semibold">{{'verificationCode'| translate}}</label>
                                            <input type="text" name="receveCode" class="form-control" id="email"
                                            [(ngModel)]="user.receveCode" placeholder="{{'verificationCode'| translate}}">
                                        </div>
                                        <div *ngIf="codeDone">
                                            <form>
                                                <div class="mb-3" >
                                                    <label for="password" class="fw-semibold">{{'security.newPassword'| translate}}</label>
                                                    <input type="password" name="password" class="form-control" id="password"
                                                    [(ngModel)]="user.password" placeholder="{{'security.newPassword'| translate}}">
                                                </div>
                                                <div class="mb-3 mb-4">
                                                    <label for="confirmPassword" class="fw-semibold">{{'security.Confirmpassword'| translate}}</label>
                                                    <input type="password" name="confirmPassword" class="form-control" required
                                                    [(ngModel)]="user.confirmPassword"  id="userpassword" placeholder="{{'security.password'|translate}}">
                                                </div>
                                            </form>
                                            
                                        </div>
                                       
                                        <div class="row align-items-center">
                                            
                                            <div class="col-6" >
                                                <div class="text-end">
                                                    <button [disabled]="!(forgForm.valid&& forgForm.dirty)"  *ngIf="typeCode==false&&codeDone==false" class="btn btn-primary w-md waves-effect waves-light ml-3" (click)="checkUserNameExsit()"
                                                        >{{'lookForEmail'| translate}}</button>

                                                      <button *ngIf="typeCode==true&&codeDone==false" class="btn btn-primary w-md waves-effect waves-light ml-3" (click)="checkCode()">
                                                         {{'chcekCodeVerifi'| translate}}
                                                      </button>  

                                                     <button *ngIf="codeDone==true" class="btn btn-primary w-md waves-effect waves-light ml-3" 
                                                     [disabled]="this.user.password!==this.user.confirmPassword" (click)="changePassword()">{{'changePassword'|translate}}</button>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="text-end">
                                                    <button class="btn btn-primary w-md waves-effect waves-light mr-3" (click)="showLogin()"
                                                        >{{'security.login'| translate}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="p-lg-5 p-4 bg-auth h-100 d-none d-lg-block">
                                <div class="bg-overlay"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end account page -->