<div class="row">
  <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <span>
                <i class="mdi mdi-account-group"></i>
                <h4 class="card-title mb-2">{{"Items" | translate}}</h4>
              </span>
              <div class="col-lg-12">
                <div class="button-items" >
                  <div #headerActions>
                    <button type="button" class="btn btn-success" accessKey="add" (click)="addItem()">
                      <i class=" fa fa-plus"></i> {{'add' | translate}}
                    </button>
                    <button type="button" class="btn btn-info" accessKey="edit" [disabled]="this.itemId===0" (click)="editItem()">
                      <i class=" fa fa-edit"></i> {{'edit' | translate}}
                    </button>
                    <button *ngIf="this.stoped===false" type="button" [disabled]="this.itemId===0" class="btn btn-danger" accessKey="stopUse" (click)="stopItem()">
                      <i class="mdi mdi-stop-circle"></i> {{'item.stopUseItem' | translate}}
                  </button>
                  <button *ngIf="this.stoped===true" type="button" class="btn btn-primary" accessKey="unstopUse" (click)="unStopItem()">
                    <i class="mdi mdi-motion-play"></i> {{'item.UnstopUseItem' | translate}}
                </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12" >
                  <form class="form">
                    <div class="card-body">
                      <dx-data-grid #gridItems id="gridItems" [dataSource]="items" keyExpr="id" [showBorders]="true"
                      [showRowLines]="true" [rtlEnabled]="this.baseService.isRTL" [allowColumnReordering]="true"
                      [allowColumnResizing]="true" [columnAutoWidth]="true" [columnHidingEnabled]="true"
                       [height]="height"
                      (onSelectionChanged)="onSelectionChanged($event)" (onInitialized)="onInitialized($event)">
                      <dxo-search-panel [visible]="true" ></dxo-search-panel>
                      <dxo-selection mode="single"></dxo-selection>
                      <dxo-paging [pageSize]="10"></dxo-paging>
                      <dxo-pager [allowedPageSizes]="[10, 20, 50, 100]" [showInfo]="true" [showNavigationButtons]="true"
                        [showPageSizeSelector]="true" [visible]="true">
                      </dxo-pager>
                      <dxo-group-panel [visible]="true" ></dxo-group-panel>
                      <dxo-sorting mode="multiple"></dxo-sorting>
                      <dxo-filter-row [visible]="true"></dxo-filter-row>
                      <dxo-header-filter [visible]="true"></dxo-header-filter>
                      <dxo-export [enabled]="true" fileName="Data" [allowExportSelectedData]="false"></dxo-export>
      
                      <dxi-column dataField="code" caption="{{'item.code' |translate}}"></dxi-column>
                      <dxi-column [dataField]="this.baseService.isRTL?'nameAr':'nameEn'" alignment="center" caption="{{'item.name' | translate}}"></dxi-column>
      
                        <dxi-column dataField="categoryId"  caption="{{'item.Category' | translate}}"  alignment="center">
                          <dxo-lookup [dataSource]="categories" [class]="this.baseService.isRTL? 'text right':'text left'" [displayExpr]="this.baseService.isRTL? 'nameAr':'nameEn'" valueExpr="id">
                          </dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="brandId" alignment="center" caption="{{'item.brand' | translate}}" >
                          <dxo-lookup [dataSource]="brands" alignment="center" [class]="this.baseService.isRTL? 'text right':'text left'" [displayExpr]="this.baseService.isRTL? 'nameAr':'nameEn'" valueExpr="id">
                          </dxo-lookup>
                        </dxi-column>   
                        <dxi-column [dataField]="this.baseService.isRTL?'isDisabledInfoAr':'isDisabledInfoEn'" alignment="center" caption="{{'item.isStop' | translate}}" ></dxi-column>   
                      <dxo-editing>
                        <dxo-texts confirmDeleteMessage="{{'confirmDeleteMessage' | translate}}"
                          confirmDeleteTitle="{{'confirmDeleteTitle' | translate}}">
                        </dxo-texts>
                      </dxo-editing>
                    </dx-data-grid>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
