<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu active">
            <div class="collapse navbar-collapse active" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <ng-container *ngFor="let item of apiMenu">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle arrow-none" *ngIf="!item.submenu" (click)="onMenuClick($event)"
                                href="javascript: void(0);" id="topnav-components" [routerLink]="item.path"
                                role="button">
                                <i class="{{item.icon}} me-2"></i>{{this.baseService.isRTL? item.nameAr:item.nameEn | translate }} <div class="arrow-down"
                                    *ngIf="hasItems(item)"></div>
                            </a>

                            <a *ngIf="item.submenu" class="nav-link dropdown-toggle arrow-none"
                                (click)="onMenuClick($event)" href="javascript: void(0);" id="topnav-components"
                                role="button">
                                <i class="{{item.icon}} me-1"></i>
                                {{this.baseService.isRTL? item.nameAr:item.nameEn | translate }}
                                <div class="arrow-down"></div>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="topnav-dashboard" *ngIf="hasItems(item)">
                                <ng-template ngFor let-i="index" let-submenu [ngForOf]="item.submenu">
                                    <a class="col dropdown-item side-nav-link-ref" *ngIf="!hasItems(submenu)"
                                        href="javascript: void(0);" [routerLink]="submenu.path"
                                        routerLinkActive="active">{{this.baseService.isRTL? submenu.nameAr:submenu.nameEn | translate }}</a>

                                    <div class="dropdown" *ngIf="hasItems(submenu)">
                                        <a class="dropdown-item dropdown-toggle" href="javascript: void(0);"
                                            (click)="onMenuClick($event)">{{this.baseService.isRTL? submenu.nameAr:submenu.nameEn | translate }}
                                            <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu">
                                            <ng-template ngFor let-subSubitem [ngForOf]="submenu.submenu">
                                                <a class="dropdown-item side-nav-link-ref" *ngIf="!hasItems(subSubitem)"
                                                    href="javascript: void(0);" [routerLink]="subSubitem.path"
                                                    routerLinkActive="active">{{this.baseService.isRTL? subSubitem.nameAr:subSubitem.nameEn | translate }}</a>
                                                <div class="dropdown" *ngIf="hasItems(subSubitem)">

                                                    <a class="dropdown-item dropdown-toggle" href="javascript: void(0);"
                                                        (click)="onMenuClick($event)">{{this.baseService.isRTL? subSubitem.nameAr:subSubitem.nameEn | translate }}
                                                        <div class="arrow-down"></div>
                                                    </a>
                                                    <div class="dropdown-menu">
                                                        <ng-template ngFor let-subSubSubitem
                                                            [ngForOf]="subSubitem.submenu">
                                                            <a class="dropdown-item side-nav-link-ref"
                                                                href="javascript: void(0);"
                                                                [routerLink]="subSubSubitem.path"
                                                                routerLinkActive="active">{{this.baseService.isRTL? subSubSubitem.nameAr:subSubSubitem.nameEn | translate }}</a>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </nav>
    </div>
</div>