<div class="row">
  <div class="col-lg-12">
    <div class="d-xl-flex">
      <div class="row">
        <div class="col-lg-12">
          <div class="card" id="buttons">
            <div class="card-body">
              <span>
                <i class="mdi mdi-account-group"></i>
                <h4 class="card-title mb-2">{{"Groups" | translate}}</h4>
              </span>
              <div class="col-lg-12">
                <div class="button-items">
                  <div #headerActions>
                    <button type="button"  class="btn btn-success" (click)="openRolePopup()"
                      accessKey="add">
                      <i class=" fa fa-plus"></i> {{'add' | translate}}
                    </button>
          
                    <!-- <button type="button" class="btn btn-outline-info" (click)="openSearchPop()" style="color: black;"
                      accessKey="search">
                      <i class=" fa fa-search" style="color: black !important;"></i> {{'search' | translate}}
                    </button>
          
                    <button type="button"  class="btn btn-outline-warning" style="color: black;" *ngIf="removeSearch"
                      (click)="removeSearchs()" accessKey="search">
                      <i class="fas fa-search-minus" style="color: black !important;"></i> {{'removeSearch' | translate}}
                    </button> -->
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                    <form class="form">
                      <dx-data-grid #gridData id="gridData" [dataSource]="itemsDataSource" keyExpr="id"
                        [showBorders]="true" [showRowLines]="true" [rtlEnabled]="this.baseService.isRTL"
                        [allowColumnReordering]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
                        [columnHidingEnabled]="true" [height]="height" (onInitialized)="saveGridInstance($event)"
                        (onEditorPreparing)="onEditorPreparing($event)" (onRowUpdating)="onRowUpdating($event)"
                        (onRowRemoving)="onRowRemoving($event)" (onRowInserting)="onRowInserting($event)"
                        (onCellPrepared)="onCellPrepared($event)" (onSelectionChanged)="onSelectionChanged($event)">
                        <dxo-search-panel [visible]="true"></dxo-search-panel>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-pager [allowedPageSizes]="[5,10, 20, 50, 100]" [showInfo]="true"
                          [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>
                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxi-column [dataField]="this.baseService.isRTL?'nameAr':'nameEn'" alignment="center"  caption="{{'security.name' | translate}}">
                          <dxi-validation-rule type="required"
                            message="{{'required' | translate}}"></dxi-validation-rule>
                          <dxi-validation-rule type="pattern" [pattern]="arabicChar"
                            message="{{'requiredLang' | translate}}">
                          </dxi-validation-rule>
                        </dxi-column>
                        <dxi-column dataField="description" alignment="center"
                          caption="{{'security.description' | translate}}"></dxi-column>
                        <dxi-column [allowFiltering]="false" [allowSorting]="false" cellTemplate="actions" alignment="center"
                          caption="{{'actions' | translate}}">
                        </dxi-column>
                        <div *dxTemplate="let data of 'actions'" 
                          style="text-align: center;font-size: 20px;color: #00a886;">
                          <i *ngIf="data.data.isCreatedAutomatic!==true" class="fa fa-braille"
                            style="cursor: pointer;margin: 0 10px;" (click)="openPopup(data.data.id)"
                            title="{{'security.screensAndRole' | translate}}" accessKey="permissions"></i>
                          <i class="far fa-edit" style="cursor: pointer;margin: 0 10px;"
                            (click)="editRole()" accessKey="edit" title="{{'edit' | translate}}"></i>
                          <i *ngIf="data.data.isCreatedAutomatic!==true" class="far fa-trash-alt"
                            style="cursor: pointer;margin: 0 10px; color: red;" (click)="deleteRole(data.data.id)"
                            title="{{'delete' | translate}}" accessKey="delete"></i>
                        </div>
                      </dx-data-grid>
                    </form>
                    <dx-popup class="popup" [rtlEnabled]="this.baseService.isRTL" [showTitle]="true"
                      title="{{'security.screensAndRole' | translate}}" [dragEnabled]="false" [(visible)]="popupVisible"
                      [maxWidth]="'65.5%'" [maxHeight]="'70%'">
                      <dx-scroll-view>
                        <div class="row">
                          <div class="col-lg-6">
                            <div>
                              <dx-tree-list #treeList [dataSource]="menus" keyExpr="id" parentIdExpr="parentId" [height]="'80%'"
                                [rtlEnabled]="this.baseService.isRTL" [columnAutoWidth]="true" [expandedRowKeys]="[1]"
                                [showRowLines]="true" [showBorders]="true"
                                (onSelectionChanged)="handlesxreenSelect($event)">
                                <dxo-selection mode="multiple" [recursive]="true">
                                </dxo-selection>
                                <dxi-column dataField="nameAr" caption="{{'security.menuTitle' | translate}}">
                                </dxi-column>
                              </dx-tree-list>
                              <div><br></div>
                              <div class="form-actions">
                                <div class="example-button-row">
                                  <!-- <button  type="submit" class="btn save_btn" (click)="saveSelectedItems()">
                              <i class="fa fa-save"></i> {{'saveScreens' | translate}}
                            </button> -->
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-lg-6">
                            <div>
                              <dx-tree-list #treeListCategory id="treeListCategory" [dataSource]="returnedScreens"
                                keyExpr="id" parentIdExpr="parentId" [height]="'80%'"
                                [rtlEnabled]="this.baseService.isRTL" [columnAutoWidth]="true" [expandedRowKeys]="[1]"
                                [showRowLines]="true" [showBorders]="true">
                                <dxo-selection mode="multiple" [recursive]="true">
                                </dxo-selection>
                                <dxi-column dataField="nameAr" caption="الإجراءات">
                                </dxi-column>
                              </dx-tree-list>
                              <div><br></div>
                              <div class="form-actions">
                                <button type="submit" class="mat-focus-indicator btn save_btn  mat-button-base"
                                  (click)="saveSelectedItems()" style="margin: 0 5px;">
                                  <i class="fa fa-save"></i> {{'saveRoleModels' | translate}}
                                </button>
                                <!-- <button  class="mat-focus-indicator btn close_btn  mat-button-base"
                            (click)="hidePopup()">
                            <i class="ft-x"></i> {{'cancel' | translate}}
                          </button> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </dx-scroll-view>
                    </dx-popup>
              </div>
            </div>
    

            <dx-popup class="popup" [rtlEnabled]="this.baseService.isRTL" [showTitle]="true"
              title="{{'addRole' | translate}}" [dragEnabled]="false" [(visible)]="popRoleVisible" [maxWidth]="'65.5%'"
              [maxHeight]="'40%'">
              <dx-scroll-view>
                <div [style]="this.baseService.isRTL? 'text-align: right;':'text-align: left;'">
                  <form>
                    <div class="row">
                      <div class="col-md-6">
                        <label class="label">{{'nameAr' | translate}}</label>
                        <div class="form-group">
                          <dx-text-box placeholder="{{'nameAr' | translate}}" id="roleNameAr" name="nameAr" ngModel
                            required #txtnameAr="ngModel" [(ngModel)]="newRole.nameAr"></dx-text-box>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="label">{{'nameEn' | translate}}</div>
                        <div class="form-group">
                          <dx-text-box placeholder="{{'nameEn' | translate}}" id="roleNameEn" name="nameEn" ngModel
                            required #txtnameEn="ngModel" [(ngModel)]="newRole.nameEn"></dx-text-box>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="label">{{'nameEn' | translate}}</div>
                        <div class="form-group">
                        <!-- <textarea ngModel [(ngModel)]="newRole.description" rows="6" class="textarea" name="description" ></textarea> -->
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="form-actions mt-5">
                    <div class="button-items">
                      <button type="submit"  class="btn btn-success"
                        form="searchForm" (click)="saveRole()"><i class="fas fa-save"></i>
                        {{'search' | translate}}</button>
                      <button  class="btn btn-danger" ><i class="ft-x"></i>{{'back'
                        | translate}}</button>
                    </div>

                  </div>
                </div>
              </dx-scroll-view>

            </dx-popup>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>